.header {
  background-color: #242424;
  padding: 10px 20px;
  width: 100%;
  top: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-group {
  display: flex;
}

.header-button {
  background-color: #242424;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.header-button:hover {
  background-color: #555;
}

.header-button:disabled {
  background-color: #ccc;
}

.full-width-line {
  width: 93vw;
  border: none;
  border-top: 1px solid #ddd;
  margin: 0;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}


.footer {
  color: white;
  padding: 20px 0;
  border-top: 1px solid #e9ecef;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left {
  font-size: 14px;
  display: flex;
}

.footer-right {
  display: flex;
  justify-content: flex-end
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.footer-links li {
  font-size: 14px;
}

.footer-button {
  background-color: #242424;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.footer-links a {
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}